div(style='width:120px;padding:10px;border:1px solid;')
button.btn.btn-block.btn-success
	span.glyphicon.glyphicon-save
	span Install
div(style='width:120px;padding:10px;border:1px solid;')
button.btn.btn-block.btn-primary
	span.glyphicon.glyphicon-file
	span Source
div(style='width:120px;padding:10px;border:1px solid;')
button.btn.btn-block.btn-warning
	span.glyphicon.glyphicon-euro
	span Donate
div(style='width:120px;padding:10px;border:1px solid;')
button.btn.btn-block.btn-danger
	span.glyphicon.glyphicon-bullhorn
	span Support
