# editorconfig.org
root = true

[*]
indent_style = tab
indent_size = 4
tab_width = 4
end_of_line = lf # To allow compiling code on CI.
charset = utf-8
trim_trailing_whitespace = true
insert_final_newline = true

[*.md]
indent_style = space
indent_size = 4

[*.yml]
indent_style = space
indent_size = 2
