html {
    -ms-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
    font-family: sans-serif;
}

body {
    margin: 0;
    padding: 30px;
    min-width: 1020px;
    background-color: #fff;
    color: #333333;
    font: 13px Helvetica, arial, freesans, clean, sans-serif;
    line-height: 1.4;
}

    body > *:first-child {
        margin-top: 0 !important;
    }

    body > *:last-child {
        margin-bottom: 0 !important;
    }

a {
    color: #4183c4;
    text-decoration: none;
}

    a:hover {
        outline: 0;
        text-decoration: underline;
    }

    a:focus {
        outline: thin dotted;
        text-decoration: underline;
    }

    a:active {
        outline: 0;
        text-decoration: underline;
    }

h1, h2, h3, h4, h5, h6 {
    position: relative;
    margin: 1em 0 15px;
    padding: 0;
    font-weight: bold;
    line-height: 1.7;
    cursor: text;
}

    h1:hover a.anchor, h2:hover a.anchor, h3:hover a.anchor, h4:hover a.anchor, h5:hover a.anchor, h6:hover a.anchor {
        top: 15%;
        margin-left: -30px;
        padding-left: 8px;
        text-decoration: none;
        line-height: 1;
    }

    h1 code, h2 code, h3 code, h4 code, h5 code, h6 code {
        font-size: inherit;
    }

h1 {
    border-bottom: 1px solid #ddd;
    font-size: 2.5em;
}

h2 {
    border-bottom: 1px solid #eee;
    font-size: 2em;
}

h3 {
    font-size: 1.5em;
}

h4 {
    font-size: 1.2em;
}

h5 {
    font-size: 1em;
}

h6 {
    color: #777;
    font-size: 1em;
}

b, strong {
    font-weight: bold;
}

hr:before, hr:after {
    display: table;
    content: " ";
}

hr:after {
    clear: both;
}

sub, sup {
    position: relative;
    vertical-align: baseline;
    font-size: 75%;
    line-height: 0;
}

sup {
    top: -0.5em;
}

sub {
    bottom: -0.25em;
}

img {
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    max-width: 100%;
    border: 0;
}

code, pre {
    font-size: 12px;
    font-family: Consolas, "Liberation Mono", Courier, monospace;
}

pre {
    margin-top: 0;
    margin-bottom: 0;
}

a.anchor:focus {
    outline: none;
}

p, blockquote, ul, ol, dl, table, pre {
    margin: 15px 0;
}

ul, ol {
    margin-top: 0;
    margin-bottom: 0;
    padding: 0;
    padding-left: 30px;
}

    ul.no-list, ol.no-list {
        padding: 0;
        list-style-type: none;
    }

    ul ul, ul ol, ol ol, ol ul {
        margin-top: 0;
        margin-bottom: 0;
    }

dl {
    padding: 0;
}

blockquote {
    padding: 0 15px;
    border-left: 4px solid #DDD;
    color: #777;
}

table {
    display: block;
    overflow: auto;
    width: 100%;
}

    table th, table td {
        padding: 6px 13px;
        border: 1px solid #ddd;
    }

    table tr:nth-child(2n) {
        background-color: #f8f8f8;
    }

code {
    display: inline-block;
    overflow: auto;
    margin: 0;
    padding: 0;
    max-width: 100%;
    border: 1px solid #ddd;
    border-radius: 3px;
    background-color: #f8f8f8;
    vertical-align: middle;
    white-space: nowrap;
    line-height: 1.3;
}

    code:before, code:after {
        content: "\00a0";
        letter-spacing: -0.2em;
    }

pre {
    overflow: auto;
    padding: 6px 10px;
    border: 1px solid #ddd;
    border-radius: 3px;
    background-color: #f8f8f8;
    word-wrap: normal;
    font-size: 13px;
    line-height: 19px;
}

    pre code {
        display: inline;
        overflow: initial;
        margin: 0;
        padding: 0;
        max-width: initial;
        border: none;
        background-color: transparent;
        word-wrap: normal;
        line-height: inherit;
    }

        pre code:before, pre code:after {
            content: normal;
        }
